body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.cabeza {
  background-color: mediumseagreen;
  margin-top: 0;
  height: 120px;
  width: 100vw;
  position: fixed;
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.logogallery{
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;

}



.logo {
  border-radius: 50px;
  width: 100px;
  
  
  flex: 1;
}
.nombre {
  bottom: 60px;
  font-size: 24px;
  font-family: Cambria Math;
}

.navcabeza{
  
    display: grid;
    place-items: center;
    grid-template-columns: repeat( auto-fit, minmax(100px, 1fr) );
    gap: 10px;
    padding: 10px;
}

.licabeza {
  display: inline-block;
  text-align: center;
  margin-top: 28px;
  gap: 8px;
}

.acabeza:hover {
  background-color: rgb(30, 90, 57);
  color: white;
}

.acabeza {
  text-decoration: none;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 70px;
  color: black;
  display: inline-block;
  height: 70px;
  width: 160px;
  text-align: center;
  line-height: 70px;
  transition-duration: 1s;
  box-sizing: border-box;
}

/*CUERPO*/

.imagen1 {
  width: 100vw;
  height: 600px;
}
h1 {
  text-align: center;
  font-size: 64px;
}

.text {
  font-family: Bahnschrift;
  margin-left: 8px;
  margin-right: 8px;
  text-align: justify;
  margin-bottom: 20px;
  line-height: 1.6;
  font-size: 16px;
}

.final {
  background-color: rgb(53, 156, 99);
  height: 160px;
  width: 100vw;
  box-sizing: border-box;
}

#imgconter {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#mainimage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imagelogito {
  width: 30px;
}

.ulfut {
  display: inline-block;
}

#textito {
  font-family: Bahnschrift;
  line-height: 1.6;
  font-size: 16px;
  margin-bottom: 0;
  margin-left: 50px;
}
.fut {
  display: inline-block;
  margin-left: 60px;
  text-align: center;
}
.texto_foot {
  text-align: center;
}

/*Cuerpo*/
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.gallery-item {
  margin: 10px;
  text-align: center;
  max-width: 300px;
}

.gallery-item p {
  margin-top: 5px;
  font-size: 14px;
}

@media (max-width: 768px) {
  .gallery {
    justify-content: center;
  }
  .gallery-item {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .cabeza {
    justify-content: center;
  }

  mainimage {
    max-width: 100%;
  }

  #imageconten {
    justify-content: center;
  }

  .logo {
    max-width: 100%;
  }
  .ulcabeza {
    justify-content: center;
  }

  .licabeza {
    justify-content: center;
  }
}
